@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    @apply bg-primaryColor;
    scroll-behavior: smooth;
    color: rgba(0, 0, 0, 0.85);
}

button {
    outline: none;
    border: none;
}

.headerShadow {
    box-shadow: 1.95px 1.95px 2.6px rgba(0,0,0,.05);
}