@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    @apply bg-backgroundColor;
    scroll-behavior: smooth;
    color: rgba(0, 0, 0, 0.85);
}

button {
    outline: none;
    border: none;
}

.gradientButton {
    background: rgb(186,140,201);
    background: linear-gradient(11deg, rgba(186,140,201,0.5886554450881916) 0%, rgba(196,185,203,0.6670868176372111) 61%, rgba(181,102,181,0.5550419997100402) 81%, rgba(194,155,214,0.6614845767408526) 94%); 
}

.gradientButton:hover {
    background: rgb(186,140,201);
}